@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #FF630E;
    --secondary-Color: #130F40;
    --text-Color: #000000;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #F7C32E;
    --error-Color: #F94C10;
    --grey-Color: #53545b;
    --black-Color: #192335;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color:#191919;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 8px 16px;
    --button-border-radius: 5px;
    --button-font-weight: 500;
    --heading:60px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 6px;
    --section-padding:30px 0px;
}
.fdb-block {
    padding: 0rem 0;
}
/* headere871d461930b46f7 */
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link{
color: var(--secondary-Color);
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-Color);
}
.headere871d461930b46f7 .btnregister {
    background-color: var(--primary-Color);
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight) !important;
    color: var(--main-Background-Color);
    padding: var(--button-padding);
}
.headere871d461930b46f7 .logo{
    max-height: 60px;
    border-radius: var(--logo-border-radius);
}
/* bannere54caba42c027d0f */
.bannere54caba42c027d0f{
    padding-bottom: 4em;
    padding-top: 1em;
}
.bannere54caba42c027d0f .stroke{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--primary-Color);
}
.bannere54caba42c027d0f p {
    font-size: var(--paragraph);
}
.bannere54caba42c027d0f .desText{
    font-size: var(--heading);
}
.bannere54caba42c027d0f{
    padding: var(--section-padding);
}
.bannere54caba42c027d0f .mt-5{
    margin-top: 2rem !important;
}
/* abouteb092de7c8df0610 */
.abouteb092de7c8df0610{
    padding: var(--section-padding);
}
.abouteb092de7c8df0610 h2{
    font-size: var(--heading-large);
}
.abouteb092de7c8df0610 #AbOuTuS {
    font-weight: var(--button-font-weight);
    padding: 0rem;
}
/* servicecda4f61d9a1b5853 */
.servicecda4f61d9a1b5853{
    padding: var(--section-padding);
}
.servicecda4f61d9a1b5853 .text-center {
    margin-left: 0px;
}
.servicecda4f61d9a1b5853 .font-weight-bold {
    font-weight: 500 !important;
}
.servicecda4f61d9a1b5853 .card-title{
    font-size: var(--paragraph);
}
/* productscb870d00581aabe8 */
.productscb870d00581aabe8 .title{
    font-size: var(--heading-medium);
    color: var(--black-Color);
}
.productscb870d00581aabe8 .card-product .img-wrap img{
    max-height: 150px;
    max-width: 200px;
}
.productscb870d00581aabe8 .label-rating{
    color: var(--grey-Color);
}
.productscb870d00581aabe8 .price-new {
    color: var(--error-Color);
    font-size: var(--paragraph);
}
.productscb870d00581aabe8 .btn-md {
    color: var(--secondary-Background-Color);
    background: none;
    border: 1px solid var(--secondary-Background-Color);
}
/* quotec98b9fb5a898c4551 */
.quotec98b9fb5a898c4551 .DescriptionHeading{
    font-size: var(--heading-large);
}
.quotec98b9fb5a898c4551 .btn-outline-primary,
.quotec98b9fb5a898c4551 .btn-outline-primary:hover,
.quotec98b9fb5a898c4551 .btn-outline-primary:not(:disabled):not(.disabled):active{
    color: var(--main-Background-Color);
    border-color: var(--primary-Color);
    background-color: var(--primary-Color);
}
.quotec98b9fb5a898c4551{
    padding: var(--section-padding);
}
/* clientsc724c807cc8b8e9ab */
.clientsc724c807cc8b8e9ab{
    padding: var(--section-padding);
}
.clientsc724c807cc8b8e9ab #clients .clients-wrap{
    border-top: none;
}
.clientsc724c807cc8b8e9ab #clients .client-logo{
    border-bottom: none;
}
.clientsc724c807cc8b8e9ab #clients{
    padding: 0px;
}
/* .footerb9fc05b1281e93c03 */
.footerb9fc05b1281e93c03 .footer-top .widget-title{
    font-size: var(--heading-two);
}
.footerb9fc05b1281e93c03 .small-post-item .post-date{
    color: var(--warning-Color);
}
.footerb9fc05b1281e93c03 .courses-link-list li a:hover{
    color: var(--warning-Color);
}
.footerb9fc05b1281e93c03 .news-letter-form input[type="submit"]{
    background-color: var(--warning-Color);
    color: var(--black-Color);
}
.footerb9fc05b1281e93c03 .copy-right-text a{
    color: var(--warning-Color);
}
.footerb9fc05b1281e93c03 .footer-top{
    padding-top: 40px;
    padding-bottom: 50px;
}